[CBV_hint_tag]::after {
    content: attr(CBV_hint_tag);

    font-family:arial, sans-serif; 
    //font-size:xx-small; 
    font-size:x-small; 
    line-height:130%;

    border-width:1px; border-style:solid; -moz-border-radius:2px;
    padding:0px 2px 0px 2px;
    vertical-align:center;
    margin-left:2px; 
//    max-width:20px; max-height:10px;
    overflow:visible;float:none;

    /* color: black; */
    /* background-color: yellow; */
}
