@media print {
    /* Never display hint tags */
    [CBV_hint_element]:not(#CBV_override):not(#CBVISayOverride) {
	display: none !important;
    }
}

@media not print {
    /* all elements we insert have this attribute */
    [CBV_hint_element]:not(#CBV_override):not(#CBVISayOverride) {
	display:  inline  !important;
	overflow: visible !important;
	float:    none	  !important;
    }

    [CBV_add_text]:not(#CBV_override):not(#CBVISayOverride) {
	font-family: arial, sans-serif !important;
	text-shadow: none	       !important;
	font-size:   x-small	       !important;
	line-height: 130%	       !important;
	text-align:  left	       !important;
	word-break:  normal	       !important;  /* prevent breaking of hint numbers */
    }



    [CBV_outer_inline]:not(#CBV_override):not(#CBVISayOverride) {
	position: 	static	       !important;
	/* vertical-align: super       !important; */
	vertical-align: baseline       !important;
	/* in case we are a child of a flex box: */
	align-self:     flex-start     !important;

	/* max-width:     20px	       !important; */
	/* max-height:    10px	       !important; */
	padding:       0px 2px 0px 2px !important;
	border-style:  solid	       !important;
	border-radius: 2px	       !important;
	border-width:  1px	       !important;
	margin-left:   2px	       !important;
    }

    [CBV_outer_inline][CBV_high_contrast]:not(#CBV_override):not(#CBVISayOverride) {
	color:            black  !important;
	background-color: yellow !important;
    }



    [CBV_outer_overlay]:not(#CBV_override):not(#CBVISayOverride) {
	position:   relative !important;
	text-align: left     !important;
    }

    [CBV_inner_overlay]:not(#CBV_override):not(#CBVISayOverride) {
	position: absolute !important;
	/*
	 * Put us above any website simple overlays (e.g.,
         * notification count over Facebook icons) and website
         * elements marked relative lacking z-index.
         *
         * Drawback: we also appear above custom tooltips like Google
         * News video previews
	 */
	z-index:  1        !important;

	right: 	  auto	   !important;
	bottom:   auto	   !important;
	/* these are mostly for XML; elsewhere overridden by inline style */
	/* not important because jquery offset does not use important <<<>>> */
	top:  0;
	left: 0;

	text-indent: 	0px		!important;
	vertical-align: top		!important;
	/* z-index: 	1000		!important; */

	width:          auto		!important;
	height:         auto		!important;
	/* max-width:      20px		!important; */
	/* max-height:     10px		!important; */
	clip:           auto		!important;

	padding:        0px 2px 0px 2px !important;
	border-style:   none		!important;
	margin: 	0px		!important;
    }

    [CBV_inner_overlay][CBV_high_contrast]:not(#CBV_override):not(#CBVISayOverride) {
	color:            red    !important;
	background-color: white	 !important;
	font-weight:      bold	 !important;

    }
    [CBV_inner_overlay]:not([CBV_high_contrast]):not(#CBV_override):not(#CBVISayOverride) {
	color:            purple !important;
	/* background-color: white	 !important; */
	background-color: rgba(255,255,255,0.5)	 !important;
	font-weight:      bold	 !important;
    }



    .CBV_highlight_class {
	background-color: yellow !important;
	outline-style:    dashed !important;
	outline-color:    red	 !important;
	outline-width:    3px	 !important;
    }
}
