@media print {
    /* Never display hint tags */
    [CBV_hint_element]:not(#CBV_override):not(#CBVISayOverride) {
	display: none !important;
    }
}

@media not print {
    [CBV_hint_element]:not(#CBV_override):not(#CBVISayOverride) {
	/*
	 * deal with cases where website style rules make spans display: none
         * example: Office365 login page
	 */
	display: inline !important;

	/* fallback for XML files, which do not interpret style attributes */
	overflow: visible !important;
	float: none !important;
    }


    [CBV_add_text]:not(#CBV_override):not(#CBVISayOverride) {
	font-family: arial, sans-serif !important;
	text-shadow: none	       !important;

	font-size:   x-small	       !important;
	line-height: 130%	       !important;

	text-align:  left	       !important;
	word-break:  normal	       !important;  /* prevent breaking of hint numbers */
    }

    [CBV_outer_inline]:not(#CBV_override):not(#CBVISayOverride) {
	/* fallback for XML files, which do not interpret style attributes */
	position: static !important;
	vertical-align: center !important;
	padding: 0px 2px 0px 2px !important;
	border-style: solid !important;
	border-width: 1px !important;
	margin-left: 2px !important;
    }

    [CBV_outer_inline][CBV_high_contrast]:not(#CBV_override):not(#CBVISayOverride) {
	/* fallback for XML files, which do not interpret style attributes */
	color: black !important;
	background-color: yellow !important;
    }


    [CBV_outer_overlay]:not(#CBV_override):not(#CBVISayOverride) {
	/* fallback for XML files, which do not interpret style attributes */
	position: relative !important;
	text-align: left !important;
    }

    [CBV_inner_overlay]:not(#CBV_override):not(#CBVISayOverride) {
	/* fallback for XML files, which do not interpret style attributes */
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: auto !important;
	text-indent: 0px !important;
	vertical-align: top !important;
	z-index: 10 !important;
	padding: 0px 2px 0px 2px !important;
	border-style: none !important;
	margin: 0px !important;

	color: purple !important;

	background-color: white !important;
	font-weight: bold !important;
    }

    [CBV_inner_overlay][CBV_high_contrast]:not(#CBV_override):not(#CBVISayOverride) {
	/* fallback for XML files, which do not interpret style attributes */
	color: red !important;
    }


    .CBV_highlight_class {
	background-color: yellow !important;
	outline-style:    dashed  !important;
	outline-color:    red !important;
	outline-width:    3px !important;
    }
}
