@media not print {

    [CBV_hint_tag] {
	/*
	 * deal with cases where website style rules make spans display: none
         * example: Office365 login page
	 */
	display: inline !important;
    }

    [CBV_hint_tag]::after {
	content: attr(CBV_hint_tag);

	font-family:arial, sans-serif; 
	//font-size:xx-small; 
	font-size:x-small; 
	line-height:130%;

	border-width:1px; border-style:solid; -moz-border-radius:2px;
	padding:0px 2px 0px 2px;
	vertical-align:center;
//	vertical-align:top !important;
	margin-left:2px; 
	//max-width:20px; max-height:10px;
	overflow:visible;float:none;
    }

    [CBV_high_contrast]::after {
	color: black !important;
	background-color: yellow !important;

	/* position: absolute; */
	/* margin-left: -16px; */
	/* vertical-align: top; */
    }

    [CBV_hint_overlay] {
	position: relative !important;
    }
    [CBV_hint_overlay]::after {
	position: absolute !important;

	color: black !important;
	background-color: orange !important;
	left: -1px;
	top: -1px;
	/* position: absolute; */
	/* margin-left: -16px; */
	/* vertical-align: top; */
    }


    .CBV_highlight_class {
	background-color: yellow !important;
	outline-style:    dashed  !important;
	outline-color:    red !important;
    }

    /* a:focus { */
    /* 	outline-style: solid; */
    /* 	outline-color: red; */
    /* } */

    /* iframe { */
    /* 	outline-style: dotted; */
    /* 	outline-color: red; */
    /* } */
}
